.hero {
    width:90%;
    margin:30px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88vh;
    position: relative;
    overflow: hidden;
    
}


.floating-icon {
    position: absolute;
    font-size: 70px;
    color:rgb(232, 231, 231);
    opacity: 0.65;
    animation: float 7s ease-in-out infinite;
    z-index: 0;
    pointer-events: none;
}
.html {
    font-size: 90px;
    top:5%;
    left:20%;
    color:rgb(252, 7, 7);
}
.js {
    font-size: 75px;
    top:12%;
    left:35%;
    border-radius: 15px;
    color:rgb(156, 156, 23)
}
.css {
    left:35%;
    bottom:15%;
    font-size: 75px;
    color:rgb(40, 40, 197)
}
.react {
    right: 5%;
    top:15%;
    color:skyblue
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}
.hero-left {
    flex:1;
    color:rgb(253, 252, 252);
    position: relative;
    z-index:30;
}
.badge {
    display:inline-flex;
    align-items: center;
    color:white;
    padding: 10px 20px;
    border:1px solid #996de0;
    border-radius:25px;
    background: rgba(191, 149, 149, 0.4);
    backdrop-filter: blur(20px);
}
.hero-title {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 28px;
    color:white;
}
.hero-title span {
    color:#9b5cff;
}
.hero-subtitle {
    margin-top:28px;
    max-width: 500px;
    color:#cfcfcf;
    line-height: 1.5;
    font-size: 20px;
}
.animated-name {
    background:linear-gradient(90deg,#7d49d0,#eadede,#7a45d0);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 4s linear infinite;
}
.animated-name::after {
    content:"|";
    color:#996de0;
    animation:blink .8s infinite;
}
@keyframes blink {
    50% {
        opacity:0;
    }
}
@keyframes shine {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 200% center;
    }
}

.hero-description {
    margin-top: 25px;
    max-width: 550px;
    color:rgb(211, 201, 201);
    line-height: 1.8;
    font-size: 17px;
}
.contact-links {
    display:flex;
    gap:15px;
    margin-top: 30px;
}
.contact-links a {
    width:52px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(155,92,255,.5);
    border-radius: 15px;
    background: rgba(118, 83, 174, 0.5); 
    backdrop-filter: blur(25px);
    color:#bea7e4;
    font-size: 25px;
    transition: 0.3s;
    text-decoration: none;

}
.contact-links a:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(95, 57, 158, 0.5);
    color:white;
    border-color: #8b5cf6;
}
.hero-buttons {
    margin-top:35px;
    display: flex;
    gap:25px;
}
.primary-btn {
    padding: 15px 30px;
    border:none;
    border-radius: 13px;
    background:linear-gradient(90deg,#031f50,#7b2cff);
    color:white;
    cursor:pointer;
    font-size:16px;
    transition:all 0.3s ease;
    font-weight: bold;
}
.primary-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 15px #201d84, 0 0 20px #06012d;
}
.secondary-btn {
    padding:15px 20px;
    border:1px solid #010212;
    background: transparent;
    color:white;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
}
.secondary-btn:hover {
    background: rgba(92, 11, 92, 0.211);
    transition: .3s;
}
.hero-right {
    flex:1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.code-window {
    position:absolute;
    top:90px;
    left:-40px;
    width:340px;
    background: rgba(12,16,28,0.75);
    border:1px solid rgba(6, 6, 79, 0.8);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 0 25px rgba(98,70,255,0.18);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(124,58,237,0.15);
    z-index:2;
}
.window-top {
    display: flex;
    align-items: center;
    gap:8px;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(16, 6, 93, 0.8);
    background:rgba(5, 9, 116, 0.08)
}
.red,.blue,.green {
    width:10px;
    height:10px;
    border-radius: 50%;
}
.red {
    background: #79231f;
}
.blue {
    background: #181893;
}
.green {
    background: rgb(29, 129, 29);
}
.code-window pre {
    margin:0;
    opacity: 0.75;
    padding:18px;
    color:#8ab4ff;
    font-size: 15px;
    line-height: 1.8;
    font-family: 'Courier New', Courier, monospace;
}
.image-glow {
    position:absolute;
    width: 350px;
    height:450px;
    background:#112240;
    filter:blur(120px);
    opacity:0.25;
    border-radius: 50%;
    transition: all .4s ease;

}
.hero-img {
    width:470px;
    position:relative;
    z-index:5;
    filter: drop-shadow(0 0 15px rgba(66, 20, 122, 0.5));   
    background: transparent;   
    object-fit: contain;
    margin-right: 40px;
    animation:floatImage 5s ease-in-out infinite;
                                                            
}
@keyframes floatImage {
    0% {
        transform:translateY(0);
    }
    50% {
        transform:translateY(-12px);
    }
    100% {
        transform:translateY(0);
    }
}
.hero-right:hover .image-glow {
    opacity: 0.45;
    filter:blur(100px);
}
.hero-right:hover .hero-img {
    filter:
    drop-shadow(0 0 10px #0f43ec)
      drop-shadow(0 0 5px #020f2a);
        transform: scale(1.03);
        transition: 0.4s;

}

/* =========================
   MOBILE RESPONSIVE HERO
========================= */
/* =========================
   MOBILE HERO RESPONSIVE
========================= */

@media (max-width: 768px) {

    .hero {
        width: 92%;
        margin: 20px auto 0;
        min-height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        padding-bottom: 40px;
    }

    /* LEFT CONTENT */
    .hero-left {
        width: 100%;
        flex: none;
        text-align: left;
        z-index: 30;
    }

    .badge {
        padding: 8px 15px;
        font-size: 13px;
        margin-top: 20px;
    }

    .hero-title {
        font-size: 46px;
        line-height: 1.08;
        margin-top: 22px;
        width: 100%;
    }

    .hero-subtitle {
        margin-top: 20px;
        max-width: 100%;
        font-size: 16px;
        line-height: 1.5;
    }

    .hero-description {
        margin-top: 18px;
        max-width: 100%;
        font-size: 15px;
        line-height: 1.7;
    }

    .contact-links {
        gap: 10px;
        margin-top: 22px;
    }

    .contact-links a {
        width: 45px;
        height: 45px;
        font-size: 21px;
        border-radius: 12px;
    }

    .hero-buttons {
        margin-top: 25px;
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
    }

    .primary-btn {
        padding: 12px 20px;
        font-size: 14px;
    }

    .secondary-btn {
        padding: 12px 18px;
        font-size: 14px;
    }


    /* RIGHT IMAGE SECTION */
    .hero-right {
        width: 100%;
        flex: none;
        min-height: 430px;
        margin-top: 30px;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
    }

    .hero-img {
        width: 310px;
        max-width: 85%;
        margin-right: 0;
        position: relative;
        z-index: 5;
    }

    .image-glow {
        width: 260px;
        height: 350px;
    }

    /* CODE WINDOW */
    .code-window {
        width: 230px;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    .code-window pre {
        font-size: 10px;
        padding: 12px;
        line-height: 1.5;
    }


    /* FLOATING ICONS */
    .floating-icon {
        font-size: 45px;
    }

    .html {
        font-size: 55px;
        top: 3%;
        left: 25%;
    }

    .js {
        font-size: 48px;
        top: 10%;
        left: 60%;
    }

    .css {
        font-size: 50px;
        left: 40%;
        bottom: 2%;
    }

    .react {
        font-size: 50px;
        right: 5%;
        top: 15%;
    }
}


/* VERY SMALL PHONES */
@media (max-width: 400px) {

    .hero-title {
        font-size: 40px;
    }

    .hero-subtitle {
        font-size: 15px;
    }

    .hero-description {
        font-size: 14px;
    }

    .hero-img {
        width: 285px;
    }

    .hero-right {
        min-height: 400px;
    }
}
